altair==4.2.2
async-generator==1.10
attrs==22.2.0
backports.zoneinfo==0.2.1
blinker==1.6.2
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
contourpy==1.0.7
curl-cffi==0.5.5
cycler==0.11.0
decorator==5.1.1
entrypoints==0.4
exceptiongroup==1.1.1
fake-useragent==1.1.3
filelock==3.12.0
fonttools==4.39.3
gitdb==4.0.10
GitPython==3.1.31
h11==0.14.0
idna==3.4
imageio==2.13.2
importlib-metadata==6.6.0
importlib-resources==5.12.0
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.17.3
kiwisolver==1.4.4
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
mdurl==0.1.2
mpmath==1.3.0
names==0.3.0
networkx==2.6.3
numpy==1.22.4
opencv-contrib-python==4.5.4.58
opencv-python==4.7.0.72
outcome==1.2.0
packaging==23.1
panda==0.3.1
pandas==1.5.3
Pillow==9.5.0
pkgutil_resolve_name==1.3.10
protobuf==3.20.3
psutil==5.9.5
pyarrow==11.0.0
pycparser==2.21
pydeck==0.8.0
pydub==0.25.1
Pygments==2.15.1
Pympler==1.0.1
pyparsing==3.0.9
PyPasser==0.0.5
pyrsistent==0.19.3
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.2.0
PyYAML==6.0
requests==2.28.2
rich==13.3.3
scikit-image==0.19.0
scikit-learn==1.0.1
scipy==1.7.2
seaborn==0.12.2
selenium==4.8.3
sentry-sdk==1.22.2
six==1.16.0
sklearn==0.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
SpeechRecognition==3.8.1
streamlit==1.21.0
sympy==1.11.1
thop==0.1.1.post2209072238
tls-client==0.2
toml==0.10.2
toolz==0.12.0
torch==2.0.0
torchvision==0.15.1
tornado==6.3.1
tqdm==4.65.0
trio==0.22.0
trio-websocket==0.10.2
TwoCaptcha==0.0.1
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
ultralytics==8.0.99
urllib3==1.26.15
validators==0.20.0
watchdog==3.0.0
websocket-client==1.5.1
wsproto==1.2.0
zipp==3.15.0
